extends ../layouts/main.pug

block styles
  link(rel="stylesheet", href="/styles/admin/edit-product.css")
  
block header
  include ../includes/admin-header.pug

block content
  h2 Edit Product
  form.product-form(action="/admin/edit-product",method="POST",enctype="multipart/form-data")
    if validationMessages.length > 0
      .form-control
        label(for="title") Title
        input(type="text",name="title",value= autoFill.title,class= validationMessages.find(valMsg => valMsg.param === "title") ? 'invalid' : '')#title
      .form-control
        label(for="price") Price
        input(type="number",name="price",step="0.01", value= autoFill.price,class= validationMessages.find(valMsg => valMsg.param === "price") ? 'invalid' : '')#price
      .form-control
        p Current image:
        img(src= product.imageUrl, alt="Image", srcset="",style="max-width: 300px; max-height: 300px;")
        p #[i To change image load another one and update]
        label(for="image") Image
        input(type="file",name="image")#image

      label(for="deleteImage") Delete image
      if autoFill.imageUrl
        input(type="checkbox", name="deleteImage", value="True")
      else
        input(type="checkbox", name="deleteImage", value="True",disabled)

      .form-control  
        label(for="description") Description
        textarea(name="description",rows="5",class= validationMessages.find(valMsg => valMsg.param === "description") ? 'invalid' : '')= autoFill.description
      input(type="hidden", name="id",value=productId)    
    else
      .form-control
        label(for="title") Title
        input(type="text",name="title",value=product.title)#title
      .form-control
        label(for="price") Price
        input(type="number",name="price",step="0.01",value=product.price)#price
      .form-control
        p Current image:
        img(src= product.imageUrl, alt="Image", srcset="",style="max-width: 300px; max-height: 300px;")  
        p #[i To change image load another one and update]
        label(for="image") Image
        input(type="file",name="image",oninput="showImage()")#image
      label(for="deleteImage") Delete image
      if product.imageUrl
        input(type="checkbox", name="deleteImage", value="True")
      else
        input(type="checkbox", name="deleteImage", value="True",disabled)


      .form-control  
        label(for="description") Description
        textarea(name="description",rows="5")= product.description
      input(type="hidden", name="id",value=product._id)
    input(type="hidden", name="_csrf",value= csrfToken)
    button.btn(type="submit") Update Product

block scripts
  script(src="/js/showImage.js")
